* {
	padding: 3px;
	box-sizing: border-box;
}

header {
	background: #ff9800;
}

.pics>img {
	/*margin: 5px auto 5px -10px;*/
	box-shadow: 0 0 5px navy;
}

section img:first-of-type {
	margin-right: 5%;
}

	main {
		display: flex;
		flex-direction: column;
	}

@media screen and (max-width: 959px) {
    .pics > img {
	width: 100%;
	height: auto;
	  }
}

@media screen and (min-width: 960px) {
main {
	display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
	}
  
  main section {
     width: 33.3%;
     position: relative;
  }
  main > section {
    padding-bottom: 160px;
  }
  
  section>div {
    position: absolute;
    bottom: 0;
  }

  img {
	width: 43%;
	max-height: 150px;
}

}


